{{> header}}
    <div class="container main-content">
        <div class="row">
            {{#each artworks}}
                <div class="col-12 col-lg-6 lot-description">
                    <h2 class="item-title">{{this.title}}</h2><p class="lot-number">Lot {{this.lot_number}}</p>
                    <img src="{{this.images.[0]}}" class="item-img">
                    <p><span class="bold-header">By:</span> {{this.artist}}, {{this.year}}</p>
                    <p><span class="bold-header">FAIR MARKET VALUE:</span> ${{this.fmv}}</p>
                    <p><span class="bold-header">Dimensions:</span> {{this.dimensions}}</p>
                    <p><span class="bold-header">Materials:</span> {{this.materials}}</p>
                    <p><span class="bold-header">Edition:</span> {{this.edition}}</p>
                    <button class="bid-on-it btn" artwork-id="{{this.artwork_id}}">Bid On It</button>
                </div>
            {{/each}}
        </div>
    </div>
{{> footer}}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/bid-nav.js" async></script>