{{> header}}
    <div class="container main-content">
        <div class="row">
            <!-- {{#each artworks}} -->
                <div class="col-12 col-lg-6 lot-description">
                    <h2 class="item-title">{{this.title}}</h2><p class="lot-number">Lot {{this.lot_number}}</p>
                    <img src="{{this.images.[0]}}" class="item-img">
                    <p><span class="bold-header">By:</span> {{this.artist}}, {{this.year}}</p>
                    <p><span class="bold-header">FAIR MARKET VALUE:</span> ${{this.fmv}}</p>
                    <p><span class="bold-header">Dimensions:</span> {{this.dimensions}}</p>
                    <p><span class="bold-header">Materials:</span> {{this.materials}}</p>
                    <p><span class="bold-header">Edition:</span> {{this.edition}}</p>
                    <p><span class="bold-header">Details:</span> {{{this.detail_desc}}}</p>
                    <hr>
                    <p>To place a bid, please submit your payment information by clicking the button below.</p>
                    <label for="bid-amount"><b>Bid Amount: $</b></label><input type="number" id="bid-amount" min="{{add this.max this.bid_increments}}" step="{{this.bid_increments}}" value="{{add this.max this.bid_increments}}">
                    
                    <form action="/payment" method="POST">
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_u4d3KsBxMKRpjSa8ct5UupZO"
                            data-amount="999"
                            data-name="Bidder"
                            data-description="Widget"
                            data-image="/images/paddle.png"
                            data-locale="auto"
                            data-zip-code="true"
                            data-billing-address="true">
                        </script>
                    </form>
                </div>
            <!-- {{/each}} -->
        </div>
    </div>
{{> footer}}