{{> header}}
    <div class="container main-content">
        <div class="row">
            {{#with artwork}}
                <div class="col-12 col-lg-6 lot-description">
                    <h2 class="item-title">{{title}}</h2><p class="lot-number">Lot {{lot_number}}</p>
                    <img src="{{images.[0]}}" class="item-img">
                    <p><span class="bold-header">By:</span> {{artist}}, {{year}}</p>
                    <p><span class="bold-header">FAIR MARKET VALUE:</span> ${{fmv}}</p>
                    <p><span class="bold-header">Dimensions:</span> {{dimensions}}</p>
                    <p><span class="bold-header">Materials:</span> {{materials}}</p>
                    <p><span class="bold-header">Edition:</span> {{edition}}</p>
                    <p><span class="bold-header">Details:</span> {{{detail_desc}}}</p>
                    <hr>
                    <p>To place a bid, please submit your payment information by clicking the button below.</p>
                    <label for="bid-amount"><b>Bid Amount: $</b></label><input type="number" id="bid-amount" min="{{add this.max this.bid_increments}}" step="{{this.bid_increments}}" value="{{add this.max this.bid_increments}}">
                    
                    <form action="/payment" method="POST">
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_u4d3KsBxMKRpjSa8ct5UupZO"
                            data-amount="999"
                            data-name="Bidder"
                            data-description="Widget"
                            data-image="/images/paddle.png"
                            data-locale="auto"
                            data-zip-code="true"
                            data-billing-address="true">
                        </script>
                    </form>
                </div>
            {{/with}}
        </div>
    </div>
    <script src="http://localhost:8000/socket.io/socket.io.js"></script>
{{> footer}}