{{> header}}
    <div class="container main-content">
        <div class="row">
            <div class="col-lg-6">
                {{#with userInfo}}
                <h5>Hi, {{firstName}}{{/with}}.</h5><p>Are you sure you want to bid <b>${{bid}}</b> on:<br>{{#with artworkInfo}}<b>{{title}}</b> by {{artist}}?{{/with}}</p>
                <form action="/payment-success" method="POST">
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_u4d3KsBxMKRpjSa8ct5UupZO"
                        data-amount="{{bid}}00"
                        data-name="Bidder"
                        data-description="Widget"
                        data-image="/images/paddle.png"
                        data-locale="auto"
                        data-zip-code="true"
                        data-billing-address="true">
                    </script>
                </form>
            </div>
            <div class="col-lg-6">
                {{#with artworkInfo}} <img src="{{images}}" class="payment-img">{{/with}}
            </div>
        </div>
    </div>
{{> footer}}